body {
    font: 200 1em 'Helvetica Neue', 'Segoe UI', 'Droid Sans', 'Helvetica';
    padding: 0;
    margin: 0;
    background-color: green;
}

input, select, textarea {
    font: 200 1em 'Helvetica Neue', 'Segoe UI', 'Droid Sans', 'Helvetica';
    outline: none;
    border: 1px solid #eee;
    padding: 0.35em 0.5em;
    background-color: transparent;
}

.row > .columns.large-4 {
    width: 33.333333333333333333%; /* 4 / 12 = 33.333333333333333333% */
    color: #002900;
    background-color: #005700;
}