body {
    font: 200 1em 'Helvetica Neue', 'Segoe UI', 'Droid Sans', 'Helvetica';
    padding: 0;
    margin: 0;
    background-color: lightskyblue;
}

input, select, textarea {
    font: 200 1em 'Helvetica Neue', 'Segoe UI', 'Droid Sans', 'Helvetica';
    outline: none;
    border: 1px solid #eee;
    padding: 0.35em 0.5em;
    background-color: transparent;
}

.row > .columns.small-12 {
    width: 100%; /* 12 / 12 = 100%*/
    color: #395a6c;
    background-color: #588dac;
}